<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
<header>
    {% block header %}
        <div class="header_logo">
            <a href="{{ path('home_page') }}">FW</a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ path('home_page') }}">Главная</a></li>
                <li><a href="{{ path('add_video') }}">Добавить видео</a></li>
                <li><a href="{{ path('show_videos') }}">Мои видео</a></li>
            </ul>
        </nav>
        <button class="green">Войти</button>
    {% endblock %}
</header>
<div class="center_block_main">
    <aside>
        {% block sidebar %}
            <ul>
                <li><a href="{{ path('add_video') }}">Добавить видео</a></li>
                <li><a href="{{ path('category') }}">Добавить категорию</a></li>
            </ul>
        {% endblock %}
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
<footer>FOOTER</footer>
{% block javascripts %}{% endblock %}
</body>
</html>